header#header.header
    .container
        .header__inner
            button.header__mobile-menu-button
                span
                span
                span
            .header__logo-block
                img.header__logo(src=require("./img/logo.png") alt="Логотип сайта air robots.ru")
                .header__title-block
                    h1.header__title Квадрокоптеры DJI <span class="header__for-cutting"> для фото и видеосъемки</span>
                    p.header__subtitle Продажа квадрокоптеров <span class="header__for-cutting">с бесплатной доставкой до двери по всей России</span>
            .header__contacts
                a.header__phone-number(href="tel:+73433285504") +7 (343) 328 55 04
                button.header__call-me(data-modal="#modal-order") Заказать звонок