mixin advantageBlock(uniqueClass, title, desc)
    .advantages__advantage-block(class= uniqueClass)
        dt.advantages__advantage-title= title
        dd.advantages__advantage-desc= desc

section.advantages
    .container
        h2.advantages__title Преимущества квадрокоптеров<br>DJI Phantom 2
        .advantages__wrapper
            dl.advantages__column.advantages__column-left
                +advantageBlock("adv-1", "Режим FPV (First Person View)", "Вы увидите изображение с камеры в режиме реального времени на экране смартфона или планшета. Новые ощущения вам гарантированы.")
                +advantageBlock("adv-2", "Режим зависания в воздухе", "Если вы не даете команд квадрокоптеру, он зависает в воздухе и ждет новых инструкций, а не падает на землю как более дешевые аналоги.")
                +advantageBlock("adv-3", "Длительное время полета", "У данной модели один из лучших по рынку показателей длительности непрерывного полета - до 25 минут.")
            dl.advantages__column.advantages__column-right
                +advantageBlock("adv-4", "Возвращение в точку взлета", "Если квадрокоптер улетит слишком далеко, или потеряется из поля зрения, или у него будет разряжена батарея, то квадрокоптер в автоматическом режиме вернется в точку старта, чтобы вы его не потеряли.")
                +advantageBlock("adv-5", "Удобный для транспортировки", "Квадрокоптер можно взять с собой в путешествие, он легко поместится в рюкзаке")
                +advantageBlock("adv-6", "Смена батареек в течение нескольких секунд", "Конструкцией квадрокоптера предусмотрена возможность смены батареи в течение нескольких секунд, тем самым можно продлить время съемок на сколько это нужно.")
