.capture-form {
  padding: 150px 0;
  background-image: url("./img/thinking-man-large.png"), url("./img/Mount_Everest.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, center;
  background-size: 728px 476px, cover;

  @media (max-width: 1120px) {
    background-image: url("./img/Mount_Everest.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (max-width: 780px) {
    padding: 100px 0;
  }
}

.capture-form__title {
  color: var(--font-color-light);
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 30px 0;
}

.capture-form__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.capture-form__phone-input-box {
  position: relative;
  height: 49px;
  margin-left: 49px;
}

.capture-form__phone-input-box::before {
  content: "";
  width: 49px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -49px;
  background-image: url("../Promo/img/phone-blue.png");
  background-size: cover;
}

.capture-form__phone-input {
  width: 300px;
  height: 100%;
  padding: 15px 10px;
  background-color: var(--ui-dark-color);
  border: none;
  color: var(--font-color-light);

  @media (max-width: 400px) {
    width: 210px;
  }
}

.capture-form__submit-button {
  padding: 15px 50px;
  background-color: var(--ui-accent-color);
  color: var(--font-color-light);
  border: none;
}