section.capture-form
    .container
        h2.capture-form__title
            label(for="capture-form__phone-input") Еще думаете? Оставьте свой номер,<br> Мы поможем определиться
        form.capture-form__form
            .capture-form__phone-input-box
                input#capture-form__phone-input.capture-form__phone-input(type="tel" placeholder="Ваш номер телефона")
            button.capture-form__submit-button(type="submit" data-modal="#modal-success") Отправить