@font-face {
  font-family: "Ushakov";
  src: url("../fonts/Ushakov-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ushakov";
  src: url("../fonts/Ushakov-Bold.woff2");
  font-weight: bold;
  font-display: swap;
}

:root {
  --font-family-acrom: "Ushakov", sans-serif;
  --font-color-light: #fff;
  --font-color-dark: #000;
  --font-color-gray: #626262;
  --ui-accent-color: #0084dd;
  --ui-dark-color: #252525;
  --background-color-main: #f4f4f4;
  --background-color-ui-dark: #393e43;
  --background-color-black: #000;
  --background-color-semiblack: #1e1e1e;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.2;
  font-family: var(--font-family-acrom);
  color: var(--font-color-dark);
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/******************/
/***** Header *****/
/******************/

.header {
  background-color: var(--background-color-main);
  padding: 20px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__mobile-menu-button {
  display: none;
}

.header__logo-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo {
  width: 46px;
  height: 44px;
}

.header__title-block {
  text-transform: uppercase;
  font-family: var(--font-family-acrom);
  color: var(--font-color-dark);
}

.header__title {
  font-size: 1.15rem;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.header__subtitle {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__phone-number {
  text-decoration: none;
  color: inherit;
  position: relative;
  padding-left: 46px;
}

.header__phone-number::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  background-image: url("../images/phone-header.png");
  width: 32px;
  height: 32px;
}

.header__call-me {
  padding: 15px 20px;
  background-color: var(--background-color-ui-dark);
  color: var(--font-color-light);
  font-size: 1.1rem;
  border: none;
}

/*****************/
/***** Promo *****/
/*****************/

.promo {
  position: relative;
  background-image: url("../images/promo-back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 100px - 90px);
  color: var(--font-color-light);
  text-align: center;
}

/* For sticky menu */
.promo.navbarOffsetMargin {
  padding-top: 39px;
}

.promo::after {
  content: "";
  background-image: url("../images/copter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 667px;
  height: 318px;
  position: absolute;
  bottom: -95px;
  left: 50%;
  transform: translateX(-50%);
}

.promo__title,
.promo__title-mobile {
  margin-top: 100px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.promo__title-mobile {
  display: none;
}

.promo__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__call-to-action {
  background-color: var(--background-color-black);
  padding: 15px 10px 15px 59px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

.promo__call-to-action::before {
  content: "";
  width: 49px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/gift.png");
  background-size: cover;
}

.promo__phone-input-box {
  position: relative;
  display: flex;
  height: 49px;
}

.promo__phone-input-wrapper {
  position: relative;
  padding-left: 49px;
}

.promo__phone-input-wrapper::before {
  content: "";
  width: 49px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/phone-blue.png");
  background-size: cover;
}

.promo__phone-input {
  width: 300px;
  padding: 15px 10px;
  background-color: var(--background-color-main);
  border: none;
}

.promo__submit-button {
  height: 100%;
  padding: 15px;
  background-color: var(--ui-accent-color);
  color: var(--font-color-light);
  border: none;
}

/**********************/
/***** Navigation *****/
/**********************/

.nav {
  background-color: rgba(13, 13, 13, 0.5);
  color: var(--font-color-light);
}

.nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav__list {
  margin: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
}

.nav__item {
  padding: 10px;
}

.nav__link {
  text-decoration: none;
  color: var(--font-color-light);
}

.nav__link.active {
  font-weight: bold;
}

/**********************/
/***** Advantages *****/
/**********************/

.advantages {
  padding-top: 150px;
  padding-bottom: 60px;
}

.advantages__title {
  margin-bottom: 65px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.advantages__title::after {
  content: "";
  width: 73px;
  height: 3px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-36px);
  background-image: url("../images/divider.png");
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
}

.advantages__column {
  width: 612px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.advantages__column-left {
  padding-right: 136px;
  text-align: right;
}

.advantages__column-right {
  padding-left: 136px;
  text-align: left;
}

.advantages__advantage-title {
  margin-bottom: 10px;
  font-size: 1.15rem;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages__advantage-desc {
  margin-left: 0;
}

.adv-1,
.adv-2,
.adv-3,
.adv-4,
.adv-5,
.adv-6 {
  position: relative;
}

.adv-1::after,
.adv-2::after,
.adv-3::after,
.adv-4::after,
.adv-5::after,
.adv-6::after {
  content: "";
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  transform: translateY(-32px);
}

.adv-1::after {
  background-image: url("../images/advantage-1.png");
  right: -100px;
}

.adv-2::after {
  background-image: url("../images/advantage-2.png");
  right: -100px;
}

.adv-3::after {
  background-image: url("../images/advantage-3.png");
  right: -100px;
}

.adv-4::after {
  background-image: url("../images/advantage-4.png");
  left: -100px;
}

.adv-5::after {
  background-image: url("../images/advantage-5.png");
  left: -100px;
}

.adv-6::after {
  background-image: url("../images/advantage-6.png");
  left: -100px;
}

/*****************/
/***** Video *****/
/*****************/

.video {
  background: radial-gradient(circle at 50% 90%, #606060 0, #2e2e2e 100%);
  padding-top: 60px;
  text-align: center;
  position: relative;
}

.video__title {
  text-align: center;
  color: var(--font-color-light);
  text-transform: uppercase;
  font-weight: normal;
}

.video__picture-box {
  position: relative;
}

.video__phones {
  width: 100%;
  max-width: 951px;
  max-height: 506px;
}

.video__youtube-button {
  width: 83px;
  height: 57px;
  position: absolute;
  bottom: 37%;
  left: 50%;
  transform: translateX(-41px);
  background-image: url("../images/youtube.png");
}

/*******************/
/***** Reasons *****/
/*******************/

.reasons {
  padding-top: 60px;
  padding-bottom: 40px;
}

.reasons__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 50px;
}

.reasons__inner {
  display: flex;
  gap: 20px;
}

.reasons__product-img {
  width: 40%;
  height: 100%;
}

.reasons__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 0;
  padding-left: 136px;
  text-align: left;
}

.reasons__reason-box {
  position: relative;
}

.reason-1::before,
.reason-2::before,
.reason-3::before,
.reason-4::before {
  content: "";
  width: 72px;
  height: 72px;
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateY(-36px);
}

.reason-1::before {
  background-image: url("../images/reason-1.png");
}

.reason-2::before {
  background-image: url("../images/reason-2.png");
}

.reason-3::before {
  background-image: url("../images/reason-3.png");
}

.reason-4::before {
  background-image: url("../images/reason-4.png");
}

.reasons__reason-title {
  margin-bottom: 10px;
  font-size: 1.15rem;
  font-weight: bold;
  text-transform: uppercase;
}

.reasons__reason-desc {
  margin-left: 0;
}

/********************/
/***** Products *****/
/********************/

.products {
  background-image: url("../images/products-back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 40px;
}

.products__title {
  padding: 60px 10px 40px 10px;
  background: linear-gradient(rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0));
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.products__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 10px;
}

.products__product-card {
  max-width: 560px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
}

.products__upper-block {
  display: flex;
  gap: 20px;
}

.products__product-image {
  max-width: 306px;
  width: 100%;
}

.products__price {
  font-size: 1.17em;
  font-weight: bold;
}

.products__product-title {
  text-transform: uppercase;
  font-weight: bold;
}

.products__product-desc {
  min-height: 70px;
}

.products__advantages {
  list-style: none;
  padding-left: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products__advantage {
  position: relative;
}

.products__advantage::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -60px;
}

.products__advantage:first-child::before {
  background-image: url("../images/prod-adv-1.png");
  width: 32px;
  height: 22px;
  transform: translateY(-11px);
}

.products__advantage:nth-child(2)::before {
  background-image: url("../images/prod-adv-2.png");
  width: 32px;
  height: 26px;
  transform: translateY(-13px);
}

.products__advantage:nth-child(3)::before {
  background-image: url("../images/prod-adv-3.png");
  width: 24px;
  height: 32px;
  transform: translateY(-16px);
  left: -56px;
}

.products__advantage:nth-child(4)::before {
  background-image: url("../images/prod-adv-4.png");
  width: 32px;
  height: 16px;
  transform: translateY(-8px);
}

.products__advantage:nth-child(5)::before {
  background-image: url("../images/prod-adv-5.png");
  width: 32px;
  height: 26px;
  transform: translateY(-13px);
}

.products__advantage:nth-child(6)::before {
  background-image: url("../images/prod-adv-6.png");
  width: 30px;
  height: 32px;
  transform: translateY(-16px);
  left: -59px;
}

.products__order-button {
  width: 100%;
  padding: 15px;
  background-color: var(--ui-accent-color);
  color: var(--font-color-light);
  border: none;
}

.products__more-details {
  padding: 15px 30px;
  background-color: var(--ui-dark-color);
  color: var(--font-color-light);
  border: none;
}

/************************/
/***** Capture Form *****/
/************************/

.capture-form {
  padding: 150px 0;
  background-image: url("../images/thinking-man-large.png"), url("../images/Mount_Everest.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, center;
  background-size: 728px 476px, cover;
}

.capture-form__title {
  color: var(--font-color-light);
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 30px 0;
}

.capture-form__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.capture-form__phone-input-box {
  position: relative;
  height: 49px;
  margin-left: 49px;
}

.capture-form__phone-input-box::before {
  content: "";
  width: 49px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -49px;
  background-image: url("../images/phone-blue.png");
  background-size: cover;
}

.capture-form__phone-input {
  width: 300px;
  height: 100%;
  padding: 15px 10px;
  background-color: var(--ui-dark-color);
  border: none;
  color: var(--font-color-light);
}

.capture-form__submit-button {
  padding: 15px 50px;
  background-color: var(--ui-accent-color);
  color: var(--font-color-light);
  border: none;
}

/******************/
/***** Footer *****/
/******************/

.footer {
  color: var(--font-color-light);
  text-align: center;
}

.footer__nav-list {
  padding: 40px 0;
  background-color: var(--ui-dark-color);
  justify-content: center;
}

.footer__info-block {
  padding: 90px 0 20px 0;
  background-color: var(--background-color-semiblack);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer__company-name {
  text-transform: uppercase;
  margin: 0;
}

.footer__phone,
.footer__mail {
  position: relative;
  padding-left: 43px;
}

.footer__phone::before,
.footer__mail::before {
  content: "";
  width: 23px;
  position: absolute;
  top: 50%;
  left: 0;
}

.footer__phone::before {
  height: 23px;
  transform: translateY(-11px);
  background-image: url("../images/footer-phone.png");
}

.footer__mail::before {
  height: 19px;
  transform: translateY(-9px);
  background-image: url("../images/footer-mail.png");
}

.footer__cancel {
  margin: 30px 0 0 0;
  font-size: 0.7rem;
}

/******************/
/***** Mobile *****/
/******************/

@media screen and (max-width: 1200px) {
  .products__list {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1120px) {
  .header__for-cutting {
    display: none;
  }
}

@media (max-width: 860px) {
  .advantages__wrapper {
    flex-direction: column;
    gap: 30px;
  }


  .advantages__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .advantages__column {
    width: 100%;
    max-width: 612px;
    gap: 30px
  }

  .advantages__column-left {
    padding-right: 0;
    padding-left: 84px;
    text-align: left;
  }

  .advantages__column-right {
    padding-left: 84px;
  }

  .adv-1::after,
  .adv-2::after,
  .adv-3::after {
    right: auto;
    left: -84px;
    top: 0;
    transform: none;
  }

  .adv-4::after,
  .adv-5::after,
  .adv-6::after {
    left: -84px;
    top: 0;
    transform: none;
  }
}

@media (max-width: 780px) {
  .header__mobile-menu-button {
    width: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
  }

  .header__mobile-menu-button span {
    width: 100%;
    height: 3px;
    background-color: var(--background-color-ui-dark);
  }

  .nav {
    display: none;
  }

  .nav.open {
    display: block;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.95);
    height: 100vh;
    z-index: 5;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 140px;
    padding-left: 0;
  }

  .nav__divider {
    display: none;
  }

  .promo {
    padding-top: 1px;
  }

  .header__logo-block,
  .header__call-me {
    display: none;
  }

  .promo__title {
    display: none;
  }

  .promo__title-mobile {
    display: block;
  }

  .promo__call-to-action {
    display: none;
  }

  .promo::after {
    width: 70%;
  }

  .advantages {
    padding-top: 100px;
  }

  .video__youtube-button {
    bottom: 45%;
  }

  .reasons__inner {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .reasons__reason-box::before {
    top: 0;
    transform: none;
  }

}

@media screen and (max-width: 620px) {

  .products__product-card {
    display: flex;
    flex-direction: column;
  }

  .products__product-title {
    order: 1;
    margin: 0;
  }

  .products__product-desc {
    order: 2;
  }

  .products__upper-block {
    flex-direction: column;
    align-items: center;
    gap: 0;
    order: 3;
  }

  .products__upper-block-desc {
    width: 100%;
    margin-bottom: 30px;
  }

  .products__advantages {
    order: 4;
  }

  .products__more-details {
    order: 5;
  }
}

@media (max-width: 570px) {
  .promo__phone-input-box {
    flex-direction: column;
    gap: 10px;
  }

  .promo::after {
    width: 90%;
  }

  .reasons__list {
    padding-left: 92px;
  }

  .reasons__reason-box::before {
    left: -92px;
  }
}

@media (max-width: 500px){
  .advantages {
    padding-top: 60px;
  }

  .video__title {
    margin-top: 0;
  }

  .video__youtube-button {
    bottom: 40%;
  }
}

@media (max-width: 400px) {
  .promo {
    min-height: calc(100vh - 63px);
  }

  .promo__phone-input {
    width: 230px;
  }

  .promo::after {
    display: none;
  }
}