@font-face {
  font-family: acrom;
  src: url("../fonts/Acrom-Regular.woff2");
}

@font-face {
  font-family: acrom;
  src: url("../fonts/Acrom-Bold.woff2");
  font-weight: bold;
}

:root {
  --font-family-acrom: acrom, sans-serif;
  --font-color-light: #fff;
  --font-color-dark: #000;
  --font-color-gray: #626262;
  --ui-accent-color: #0084dd;
  --background-color-main: #f4f4f4;
  --background-color-ui-dark: #393e43;
  --background-color-black: #000;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.2;
  font-family: var(--font-family-acrom);
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/******************/
/***** Header *****/
/******************/

.header {
  background-color: var(--background-color-main);
  padding: 20px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__logo-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo {
  width: 46px;
  height: 44px;
}

.header__title-block {
  text-transform: uppercase;
  font-family: var(--font-family-acrom);
  color: var(--font-color-dark);
}

.header__title {
  font-size: 1.15rem;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.header__subtitle {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__phone-number {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.header__phone-number::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -46px;
  background-image: url("../images/phone-header.png");
  width: 32px;
  height: 32px;
}

.header__call-me {
  padding: 15px 20px;
  background-color: var(--background-color-ui-dark);
  color: var(--font-color-light);
  font-size: 1.1rem;
  border: none;
}

/*****************/
/***** Promo *****/
/*****************/

.promo {
  position: relative;
  background-image: url("../images/promo-back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 100px - 90px);
  color: var(--font-color-light);
  text-align: center;
}

.promo::after {
  content: "";
  background-image: url("../images/copter.png");
  width: 667px;
  height: 318px;
  position: absolute;
  bottom: -95px;
  left: 50%;
  transform: translateX(-335px);
}

.promo__title {
  margin-top: 100px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.promo__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__call-to-action {
  background-color: var(--background-color-black);
  padding: 15px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

.promo__call-to-action::before {
  content: "";
  width: 49px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -49px;
  background-image: url("../images/gift.png");
  background-size: cover;
}

.promo__phone-input-box {
  position: relative;
  display: flex;
  height: 49px;
}

.promo__phone-input-box::before {
  content: "";
  width: 49px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -49px;
  background-image: url("../images/phone-blue.png");
  background-size: cover;
}

.promo__phone-input {
  width: 300px;
  padding: 15px 10px;
  background-color: var(--background-color-main);
  border: none;
  position: relative;
}

.promo__submit-button {
  height: 100%;
  padding: 15px;
  background-color: var(--ui-accent-color);
  color: var(--font-color-light);
  border: none;
}

/**********************/
/***** Navigation *****/
/**********************/

.nav {
  background-color: rgba(13, 13, 13, 0.5);
  color: var(--font-color-light);
}

.nav__list {
  margin: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
}

.nav__item {
  padding: 10px;
}

.nav__link {
  text-decoration: none;
  color: var(--font-color-light);
}

/**********************/
/***** Advantages *****/
/**********************/

.advantages {
  padding-top: 150px;
  padding-bottom: 60px;
}

.advantages__title {
  margin-bottom: 65px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.advantages__title::after {
  content: "";
  width: 73px;
  height: 3px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-36px);
  background-image: url("../images/divider.png");
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
}

.advantages__column {
  width: 612px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.advantages__column-left {
  padding-right: 136px;
  text-align: right;
}

.advantages__column-right {
  padding-left: 136px;
  text-align: left;
}

.advantages__advantage-title {
  margin-bottom: 10px;
  font-size: 1.15rem;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages__advantage-desc {
  margin-left: 0;
}

.adv-1,
.adv-2,
.adv-3,
.adv-4,
.adv-5,
.adv-6 {
  position: relative;
}

.adv-1::after,
.adv-2::after,
.adv-3::after,
.adv-4::after,
.adv-5::after,
.adv-6::after {
  content: "";
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  transform: translateY(-32px);
}

.adv-1::after {
  background-image: url("../images/advantage-1.png");
  right: -100px;
}

.adv-2::after {
  background-image: url("../images/advantage-2.png");
  right: -100px;
}

.adv-3::after {
  background-image: url("../images/advantage-3.png");
  right: -100px;
}

.adv-4::after {
  background-image: url("../images/advantage-4.png");
  left: -100px;
}

.adv-5::after {
  background-image: url("../images/advantage-5.png");
  left: -100px;
}

.adv-6::after {
  background-image: url("../images/advantage-6.png");
  left: -100px;
}
