.reasons {
  padding-top: 60px;
  padding-bottom: 40px;
}

.reasons__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 50px;
}

.reasons__inner {
  display: flex;
  gap: 20px;

  @media (max-width: 780px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.reasons__product-img {
  width: 40%;
  height: 100%;
}

.reasons__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 0;
  padding-left: 136px;
  text-align: left;

  @media (max-width: 570px) {
    padding-left: 92px;
  }
}

.reasons__reason-box {
  position: relative;
}

.reasons__reason-box::before {
  @media (max-width: 780px) {
    top: 0;
    transform: none;
  }

  @media (max-width: 570px) {
    left: -92px;
  }
}

@media (max-width: 780px) {
  .reasons__reason-box::before {
    top: 0;
    transform: none;
  }
}

.reason-1::before,
.reason-2::before,
.reason-3::before,
.reason-4::before {
  content: "";
  width: 72px;
  height: 72px;
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateY(-36px);
}

.reason-1::before {
  background-image: url("./img/reason-1.png");
}

.reason-2::before {
  background-image: url("./img/reason-2.png");
}

.reason-3::before {
  background-image: url("./img/reason-3.png");
}

.reason-4::before {
  background-image: url("./img/reason-4.png");
}

.reasons__reason-title {
  margin-bottom: 10px;
  font-size: 1.15rem;
  font-weight: bold;
  text-transform: uppercase;
}

.reasons__reason-desc {
  margin-left: 0;
}